.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(27, 190, 215, 0.898);
  display: inline-block;
}


.isWall {
  background-color: rgb(50, 45, 45);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}