.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(27, 190, 215, 0.898);
  display: inline-block;
}


.isWall {
  background-color: rgb(50, 45, 45);
}

.isStart {
  background-color: rgb(5, 201, 136);
}

.isFinish {
  background-color: rgb(172, 41, 68);
}

.visited {
  background-color:rgba(27, 190, 215, 0.898)
}

.shortestPath {
  background-color: rgb(123, 71, 183);
}