.grid {
  margin: 10px auto;

}

.panel {
  width: 100%;
  overflow: hidden;
  min-height: 4rem;
  background-color: rgb(3, 112, 255);
}


.title {
  margin-left: 2rem;
  color: white;
  float: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-group {
  float: left;
  margin: 1.5rem;
}

.btn {
  font-weight: 700;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.btn-outline-light {
  border-color: rgba(240, 248, 255, 0);
}

.row {
    height: 25px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

